.idea
*.log
.DS_Store
api/node_modules/
npm-debug.log
app/test/unit/coverage
app/package-lock.json
app/.env.local
test/e2e/reports
selenium-debug.log
.vscode

docker/api/src/
!docker/api/src/composer.json
docker/app/src/
docker/mongodb/*
docker/redis/*
docker/df4-nfs/
docker/traefik/certs/*
!docker/traefik/certs/.gitkeep

!docker/mongodb/.gitkeep
!docker/redis/.gitkeep

app/dist/*
app/coverage/
.history/

.phpunit.result.cache
